{% load static %}

<nav class="floating-nav">

    <div class="logo-area">
        <img
            src="{% static 'image/autocarexlogowhhite.png' %}"
            class="nav-logo-img"
            alt="AutoCareX"
        >
    </div>


    <ul class="nav-links">
        <li>
            <a
                href="{% url 'dashboard:index' %}"
                class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"
            >
                Home
            </a>
        </li>
        <li>
            <a
                href="{% url 'dashboard:vehicle' %}"
                class="{% if request.resolver_match.url_name == 'vehicle' %}active{% endif %}"
            >
                Manage Car
            </a>
        </li>
        <li>
            <a
                href="{% url 'dashboard:location' %}"
                class="{% if request.resolver_match.url_name == 'location' %}active{% endif %}"
            >
                Car Workshop
            </a>
        </li>
        <li>
            <a
                href="{% url 'dashboard:upgrade' %}"
                class="{% if request.resolver_match.url_name == 'upgrade' %}active{% endif %}"
            >
                Suggestion
            </a>
        </li>
        <li>
            <a
                href="{% url 'dashboard:profile' %}"
                class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
            >
                Profile
            </a>
        </li>
    </ul>


    <div class="nav-cta">
        <a
            href="{% url 'dashboard:contact' %}"
            class="btn-contact"
        >
            Contact Us
        </a>
    </div>

</nav>