{% extends "base.html" %}
{% load static %}
{% block title %}Forgot Password | AutoCareX{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">

<div class="login_container">
  <div class="login_left">
    <img src="{% static 'image/signup_image.png' %}" class="login_img">
  </div>

  <div class="login_right">
    <div class="profile_content">
      <img src="{% static 'image/autocarexlogowhhite.png' %}" class="logo"><br>
      <h1>Reset Password</h1>
      <p>Enter your email address and we will send a reset link to your inbox.</p>

      {% if messages %}
        {% for message in messages %}
          <p style="color:red;">{{ message }}</p>
        {% endfor %}
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <label for="email">Email Address*</label><br>
        <input type="email" id="email" name="email" placeholder="example@mail.com"><br>

        <button type="submit">
          <span>Send link</span>
        </button>
      </form>

      <p style="margin-top:20px;">Remember your password? Login <a href="{% url 'login:login' %}">here.</a></p>
    </div>
  </div>
</div>
{% endblock %}
